@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

html {
  font-family: "Quicksand", sans-serif;
}

html,
body,
main,
div#root {
    margin: 0px;
    height: 100%;
}

input,
button {
  font-family: "Quicksand", sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin-left: 0;
}

main {
  display: flex;
}

.project-section {
  width: 30%;
  margin-top: 90px;
  margin-left: 30px;
}

.no-project-page {
  width: 70%;
}

.create-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-page {
  margin-left: 30px;
}

.project-action-button {
  height: 36px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  width: 80px;
  border-radius: 6px;
}

.project-action-button:hover {
  color: #a8a396;
}

input,
textarea {
  background-color: #dbd7ce;
  border: 0;
}

input {
  height: 30px;
}

textarea {
  height: 50px;
}

.no-project-img {
  height: 100px;
}

.no-project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.no-project-info h2 {
  margin-bottom: 0;
}

.no-project-info button {
  background-color: #120d00;
  color: white;
  width: 180px;
  margin-top: 30px;
}