main {
  display: flex;
}

.project-list {
  width: 30%;
}

.project-section {
  width: 30%;
  margin-top: 10%;
}

.create-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-data {
  width: -webkit-fill-available;
  min-height: 20px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  gap: 10px;
}
